modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Password Analyzer"

[[workflows.workflow]]
name = "Run Password Analyzer"
author = 44599579
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m password_analyzer"
